<main id="contenido">
    <section class="seccion" id="perfil">
        <div class="s-content">
            <div id="img-content">
                <img id="img" src= {{userService.user.photo}} >
            </div>
            <div class="datos datos-t">
                <h4>{{userService.user.name}} {{userService.user.last_name}}</h4>
            </div>
            <div class="datos">
                <label class="label" for="nombre">Nombre</label>
                <input disabled ="text" id="nombre" [value]="userService.user.name">
            </div>

            <div class="datos">
                <label class="label" for="apellido">Apellidos</label>
                <input disabled ="text" id="apellido" [value]="userService.user.last_name">
            </div>

            <div class="datos">
                <label class="label" for="email">Correo</label>
                <input disabled ="email" id="email" [value]="userService.user.email">
            </div>
        </div>
    </section>

    <section class="seccion" id="modificar">
        <div class="s-content">
            <div class="datos datos-t">
                <h3>Editar datos</h3>
            </div>

            <div>
                <form>
                    <div class="datos">
                        <label  for="name"></label>
                        <input type="text" id="name" #name placeholder="Nombre">
                    </div>
        
                    <div class="datos">
                        <label  for="lastName"></label>
                        <input type="text" id="lastName" #last_name placeholder="Apellido">
                    </div>
        
                    <div class="datos">
                        <label  for="email"></label>
                        <input type="email" id=email #email placeholder="Correo">
                    </div>

                    <div class="datos">
                        <label  for="passwword"></label>
                        <input type="password" id=password #password placeholder="Contraseña">
                    </div>

                    <div class="datos">
                        <label  for="photo"></label>
                        <input type="url" id="photo" #photo placeholder="URL">
                    </div>
                    <div id="button-div">
                        <button (click) = modificarDatos(name.value,last_name.value,email.value,password.value,photo.value) type="button" class="button-modificar">Modificar</button>
                        <button type="reset" class="button-modificar"> Limpiar Formulario</button>
                    </div>
                    

                </form>
            </div>
        </div>
    </section>
</main>