<main id="anadir">
    <div id="anadirContainer">
        <div id="anadir-encabezado">
            <h3>Modifica un libro</h3>
       </div>

       <div id="anadirContent">
           <form id="form">

            <div>
                <label class="label" for="id_book"></label>
                <input #id_book type="number" placeholder="Referencia" id="id_book" required>
            </div>

            <div>
                <label class="label" for="title"></label>
                <input #title type="text" placeholder="Título" id="title" required>
            </div>

            <div>
             <label class="label" for="type"></label>
             <input #type type="text" placeholder="Tapa Dura/Tapa Blanda" id="type" required>
         </div>

            <div>
                <label class="label" for="author"></label>
                <input #author type="text" placeholder="Autor" id="author" required>
            </div>

            <div>
                <label class="label" for="price"></label>
                <input #price type="number" step="0.1" placeholder="Precio" id="price" required>
            </div>
            <div>
                 <label for="photo"></label>
                 <input #photo type="text" name="photo" id="photo" placeholder=" Portada del libro" required>
             </div>

             <button type="button" class="botonLibro"
              (click) = "modificarLibro(id_book.value, title.value, type.value, author.value,+price.value,photo.value)">
              Modificar libro </button>

           </form>
       </div>
    </div>

</main>
