<div class="card">
    
    <button type="button" class="botonEliminar" (click)="eliminarLibro(libroPadre.id_book)">X</button>
    <div class="titulo">
        <h5 >{{libroPadre.title}}</h5>
    </div>
    <div class="portada">
        <img  src="{{libroPadre.photo}}" alt="Portada libro"  width="180px">
    </div>
    <h6 class="autor">{{libroPadre.author}}</h6>
    <p class="tapa"> {{libroPadre.type}}</p>
    <p class="precio"> Precio: {{libroPadre.price}}&euro;</p>
    <p class="ref">{{libroPadre.id_book | ref}} </p>
    <button type="button" class="boton" [ngClass]="{'par': !odd, 'impar': odd}">Comprar</button>
</div>
