<div id="footer">
    <section id="copy">
        <p>&copy; MyBooks todos los derechos reservados 2023</p>
    </section>
    <aside id="redes">
        <ul id="redes-lista">
            <a href="https://www.facebook.com/" target="_blank" class="link"><li><i class="fa-brands fa-facebook"></i>&nbsp;Facebook</li></a>
            <a href="https://twitter.com/" target="_blank" class="link"><li><i class="fa-brands fa-twitter"></i>&nbsp;Twitter</li></a>
            <a href="https://es.linkedin.com/" target="_blank" class="link"><li><i class="fa-brands fa-linkedin"></i>&nbsp;Linkedin</li></a>
        </ul>
    </aside>
</div>

